.footer1{
    background-color: var(--pink);
    font-family: 'Lato';
    padding: 50px 2px 2px 100px;
    color: var(--white);
    margin-top: 32%;
}
.vv{
    color: white;
}
.foot-wrap{
    display: flex;
    margin-top: 2%;
}
.box-foot{
    width: 70%;
    color: white;
}
.box-feet{
    width: 50%;
    margin-bottom: 50px;
    margin-left: 34%;
}
.social{
    margin-bottom: 30px;
}
.sc-icon{
    display: inline-flex;
    margin-top: 10px;
    color: #C71D6D;
}
.sc-icon a{
    position: relative;
    width: 35px;
    height: 35px;
    background-color: var(--white);
    margin-right: 15px;
    border-radius: 50%;
}

.sc-icon a img{
    position: absolute;
    width: 65%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 620px){
.box-foot {
    width: 48%;
}
.footer1{
 padding: 30px 0 30px;
}
}
@media (max-width: 500px){
.foot-wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
}
.box-feet {
    width: 90%;
    margin-bottom: 10px;
}
.box-foot {
    width: 100%;
    margin-bottom: 15px;
}
}
