.MainContain{
    justify-content: center;
    vertical-align: auto;
    margin-top: 34%;
}
.Img{
    width: 7%;
    position:absolute;
    top: 45%;
    left: 4%;
    margin-top: 40%;
}
.Align{
    position: absolute;
    align-content: center;
    left:10%;
    width: 2%;
}
h2{
    align-content: center;
    justify-content: center;
    flex: content;
    /* text-align: center; */
    padding-left: 43%;
    color:#2963AC;
}
p{
    text-align: center;
    color:#7A7A7A;
}
.Prog{
    place-items: center;
    width:20%;
    align-self:center;
    padding-left: 40%;
}